*{
    margin: 0;
    padding: 0;
}

#navigace{
    background-color: pink;
    text-align: center;
    padding: 10px;
}

#navigace ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 10px;
}

a{
    color: black;
    text-decoration: none;
}

#banner img{
    width: 100%;
    height: 85vh;
}

#sluzby{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 15vh 0;
}

.karta{
    border: solid black;
    border-radius: 10px;
    padding: 0 67px 30px;
    text-align: center;
}
.karta ul{
    list-style-type: none;
}
.karta ul li{
    padding: 10px;
}

#onas{
    text-align: center;
    background-color: pink;
    padding: 100px;
}